NEXT_PUBLIC_SUPABASE_URL=https://srvammwwpqgpyqbgeuoi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__BSKvlCZ7RV7Ge_tpYp4dQ_-Z2UASF2
SUPABASE_SERVICE_ROLE_KEY=sb_secret_l-0J8wy44Dz2K4KxAO8DQA_BLJHgziw
